<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<script>
    var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(35.204790, 128.577036),
        scaleControl: false,
        logoControl: false,
        mapDataControl: false,
        zoomControl: true,
        zoom: 10
    });

    var marker = new naver.maps.Marker({
        position: new naver.maps.LatLng(35.204790, 128.577036),
        map: map
    });
</script>
