<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera-retro wow bounceIn text-primary"></i>
                    <h3>필름카메라<br/>수리</h3>
                    <p class="text-muted">37년 경력에서 나오는 필름카메라<br/>수리 퀄리티</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>DSLR/디지털<br/>카메라 수리</h3>
                    <p class="text-muted">최신 장비를 이용한 DSLR/디지털<br/>카메라 수리 및 보정 가능</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shopping-cart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>카메라<br/>부품/악세사리</h3>
                    <p class="text-muted">카메라 충전기/가방/삼각대 등 판매</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-truck wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>택배 수리<br/>처리 가능</h3>
                    <p class="text-muted">연락 및 상담 후 택배 수리 처리 가능</p>
                </div>
            </div>
        </div>
    </div>
</section>
